services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      ALLOWED_CORS: http://localhost:3000
    volumes:
      - ./backend/todos.db:/app/todos.db
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
